html body * {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
/*  border: 1px dashed #333;*/
}

html, html body  {
  height: 100%;
}


header {
	display: flex;
	align-items: flex-end;
	background-color: #000;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 3;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #000;
}


.row_content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: auto;
}

.row_content_bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  padding-top: 25px;
}

.col {
  flex:1;
}

.col-ham {
  display: none;
  -ms-grid-row-align: center;
      align-self: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: 30px;
}

.bullets {
  list-style-type: disc; 
  margin-left: 50px;
}

/* NAVIGATION */
/* web navigation */
nav {
	display: flex;
 	width: 100%;
	margin: 0 auto;
}

.row .row_nav {
  justify-content: flex-end;
  list-style: none;
} 

.row .row_nav li {
  text-align: center;
  vertical-align: center;
  font-size: 14px;
}

.row .row_nav li a {
  text-decoration: none;
  color: #FFF;
  display:block; 
  height:100%;
  padding: 50px 15px 0 15px;
}

.row .row_nav li a {
  background-color: #000;
}

.row .row_nav li a:hover {
  background-color: #212121;
  color:#adfc1a;
}
/* end web navigation */

/* mobile navigation */
.mobileNav {
  box-shadow: inset 0px 25px 30px -35px black, 0px 0px 30px 0px black;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.mobileNav.active {
  -webkit-transform: translate(0%, calc(0% + 113px) );
          transform: translate(0%, calc(0% + 113px) );
}

.mobileNav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobileNav li {
	background-color: #FFF;
	border-bottom: solid 1px #eeeeee;
	text-align: center;
	width: 100%;
}

.mobileNav li:hover {
	background-color: #ADFC1A;
}

.mobileNav a {
	color: #333;
	text-decoration: none;
	display: block;
	padding:15px;
}
/* end mobile navigation */

/* hamburger menu */
.hamburger {
  display: none;
}

.line {
  display: block;
  width: 35px;
  height: 4px;
  background: #FFF;
  margin-bottom: 7px;
  border-radius: 5px;
  pointer-events: none;
}
/* end hamburger menu */
/* END NAVIGATION */


/*References Button*/
.refButton {
	background-color: #000;
	color:#FFF;
	display: inline-block;
	margin-top: 30px;
}

.refButton a {
	padding:10px 20px;
	background-color: #000;
	color:#FFF;
	display: inline-block;
	text-decoration: none;
}
.refButton a:hover {
	color: #adfc1a;
	background-color: #212121;
}
/*End References Button*/


/*Order Button*/
.orderButton {
	background-color: #121212;
	color:#adfc1a;
	display: inline-block;
	margin-top: 30px;
}

.orderButton a {
	padding:10px 20px;
	background-color: #121212;
	color:#adfc1a;
	display: inline-block;
	text-decoration: none;
}
.orderButton a:hover {
	color: #121212;
	background-color: #adfc1a;
	border: 2px solid #121212;
	padding:8px 18px;
}
/*End Order Button*/


body { 
	background: url(../images/bg1.jpg) no-repeat center center fixed;
	background-size: 100%;
    background-size: cover;
 }

 .contactBackground { 
	background: url(../images/contactBackground2.png) no-repeat center center fixed;
	background-size: 100%;
    background-size: cover;
 }

 .FAQBackground { 
	background: url(../images/FAQBackground.png) no-repeat center center fixed;
	background-size: 100%;
    background-size: cover;
 }

  .refBackground { 
	background: url(../images/RefBackground.png) no-repeat center center fixed;
	background-size: 100%;
    background-size: cover;
 }

  .imagingBackground { 
	background: url(../images/background_lab.png) no-repeat center center fixed;
	background-size: 100%;
    background-size: cover;
 }

#wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
  min-height: calc(100% - 85px);
}

#logo{
  width: 250px;
  height: 71px;
  margin: 20px;
}

h1 {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	background-color: #000;
	color: #FFF;
	padding: 20px 30px;
	/*font-family: 'Roboto', Arial, sans-serif;*/
	font-size: 23px;
	letter-spacing: 1px;
}

h2 {
	color: #000;
	padding: 30px 0px 10px 0px;
	font-size: 20px;
	font-style: bold;
	text-align: left;
}

h3 {
	color: #000;
	padding: 5px 0px;
	/*font-family: 'Roboto', Arial, sans-serif;*/
	font-size: 16px;
}

/* small horizontal separator */
hr {
	border-color: #000;
	width: 50px;
	align-items: left;
	display: inline-block;
}

/* white block - opacity at 75% */
.contentBlock {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: rgba(255, 255, 255, 0.75); 
	box-shadow: inset 0px 25px 30px -35px black, 0px 0px 30px 0px black;
}

/* NOT IN USE - white block - opacity at 100%*/
.contentBlockWhite {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: rgb(255, 255, 255); 
	box-shadow: inset 0px 25px 30px -35px black, 0px 0px 30px 0px black;
}

.tablePricing {
	margin-top:50px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
/*	background-color: rgba(255, 255, 255, 0.75); 
*//*box-shadow: inset 0px 25px 30px -35px black, 0px 0px 30px 0px black;
*/}

.whole {
	padding: 30px;
	width: 100%;
}


/* Spacing items 1/3 in Content Block */
.parentThirds {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.twoThirds {
	flex: 2;
}

.oneThird {
	flex: 1;
}

.twoThirdsRow {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  float: right;
}
/* end Spacing items 1/3 in Content Block */


/*Cell Zoom*/

.image-box{
  width:250px;
  min-width: 250px;
  height: 250px;
  min-height: 250px;
  border: 2px solid #000;
  overflow: hidden;
  position: relative;
  flex: 1;
}

.cell1 {
	width:100%;
    height:100%;
	background: url(../images/cell1_250px.png);
	position: absolute;
	top: 00px;
    left: 0px;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.cell2 {
	width:100%;
    height:100%;
	background: url(../images/cell2_250px.png);
	position: absolute;
	top: 00px;
    left: 0px;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.cell3 {
	width:100%;
    height:100%;
	background: url(../images/cell3_250px.png);
	position: absolute;
	top: 00px;
    left: 0px;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.cell4 {
	width:100%;
    height:100%;
	background: url(../images/cell4_250px.png);
	position: absolute;
	top: 00px;
    left: 0px;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.cellA {
	width:100%;
    height:100%;
	background: url(../images/cellA_250px.png);
	position: absolute;
	top: 00px;
    left: 0px;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.cellB {
	width:100%;
    height:100%;
	background: url(../images/cellB_250px.png);
	position: absolute;
	top: 00px;
    left: 0px;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.cellC {
	width:100%;
    height:100%;
	background: url(../images/cellC_250px.png);
	position: absolute;
	top: 00px;
    left: 0px;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.cellD {
	width:100%;
    height:100%;
	background: url(../images/cellD_250px.png);
	position: absolute;
	top: 00px;
    left: 0px;
	transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.cell1:hover, .cell2:hover, .cell3:hover, .cell4:hover,
.cellA:hover, .cellB:hover, .cellC:hover, .cellD:hover {
  width:300px;
  height: 300px;
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  transition: 8s all ease;
}  

.cellImage:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  -ms-filter: 
  transition: 1s all ;
}


/*CSS for image hover transition*/
.thumbnail {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail:hover .image {
  opacity: 0.7;
}

.thumbnail:hover .middle {
  opacity: 1;
}

.caption {
  color: #FFF;
  font-size: 12px;
}
/*end CSS for image hover transition*/




/*Spacing items 50% in Content Block*/
.pic_half, {
	flex: 1;
}

.text_half {
	flex: 1;
	padding: 30px;
}
/*END Spacing items 50% in Content Block*/

.chart {
	width: 100%;
	max-width: 850px;
	height: auto;
	border:1px solid #000;
}


/* form styles */
.flexParent {
	display: flex;
	flex-flow: row wrap;
}

.formFlex {
	display: flex;
}

.inputBoxWidthName {
	width: 250px;
}

.inputBoxWidth {
	width: 510px;
}


.leftPaddingForm {
	margin-left: 10px;
}

button {
	background-color: #FF1D25;
	font-size: 16px;
	border-radius: 10px;
	padding: 8px 14px;
	box-shadow: 0px 0px 12px 0px #8c8c8c; 
	color: #FFF;
	border: 0px solid #FFF;
}

button:hover {
	background-color: #ce0b12;
}
/* end form styles */


/* Form page column 2 styles*/
.contactDiv p{
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.contactDiv a{
	color: #000000;
}

.contactDiv a:hover {
	color: #FF1D25;
}
/* end Form page column 2* /



/* copy throughout styles & size */
p, .p, .ref {
	font-size: 14px;
	line-height: 20px;
}

.smallItalics {
	font-size: 10px;
	line-height: 13px;
	margin: 5px;
	font-style: italic;
}

.contactDisclaimer {
	font-size: 10px;
	line-height: 13px;
	padding: 15px 0;
}

.sub {
	font-size: 60%;
	bottom: -0.25em;
	vertical-align: baseline;
	line-height: 0;
	position: relative;
}

.sup {
	font-size: 60%;
	top: -0.5em;
	vertical-align: baseline;
	line-height: 0;
	position: relative;
}
.imageLabelCopy, .bulletsItalics {
    /*flex:1;*/
	font-size: 12px;
	font-style: italic;
	padding-left: 5px;
	line-height: 18px;
}
/* end copy throughout styles & size */

.headshot {
	width: 250px;
	width: 250px;
	float: left;
	border: 1px solid #000;
	margin: 0 20px 10px 0;
}


/*FAQ table styles*/
table {
	/*max-width: 1100px;*/
	width: 100%;
}

.tableRowGrey {
	background-color: rgba(238, 238, 238, .55);
}
.tableRowWhite {
	background-color: rgba(255, 255, 255, .55);
}
.tableRow1 {
	background-color: rgba(156, 156, 156, .55);
}
.tableRow2 {
	background-color: rgba(197, 197, 197, .55);
}

.tableRow1 td,
.tableRow2 td,
.tableRowWhite td,
.tableRowGrey td {
	padding: 10px 30px;
}

table tr td.first {
	width: 40%;
	text-align: left;
	padding-left:30px;
	vertical-align: center;
}

table tr td.ref, {
	text-align: left;
	padding:10px 30px;
}

table tr td.other {
	width: 20%;
	text-align: center;
}

.tableSingleRow {
	text-align: left;
	padding:10px 30px;
}




/*FAQ table styles*/

/*pricing table styles*/
table tr td.sing {
	width: 25%;
	text-align: center;
	vertical-align: center;
}

table tr td.fourths {
	width: 25%;
	text-align: center;
	vertical-align: center;
}

table tr td.fifths {
	width: 20%;
	text-align: center;
	vertical-align: center;
}
/*end pricing table styles*/

/* form validation styles */
input:invalid {
  border: 2px solid red;
}

/*input:valid {
  border: 2px solid black;
}*/
/* end form validation styles */



/*FOOTER*/
footer {
	display: flex;
	align-items: flex-end;
	background-color: #000;
	width: 100%;
	margin: 0 auto;
    padding: 10px 5px;
}

.footerCol1 {
  flex:1;
  padding: 10px 10px 10px 50px;
}

.footerCol2 {
  flex:4;
  padding: 10px;
}

footer p {
	color: #7c6a65;
	font-size: 10px;
	line-height: 15px;
}

footer p a {
	color: #cbada5;
	text-decoration: none;
}

footer p a:hover {
	color: #adfc1a;
}
/*end footer*/


.linkRed a:hover {
 color: #FF1D25;
}

.linkGreen a:hover {
 color: #adfc1a;
}



/*MOBILE*/


@media screen and (max-width: 1100px) {
.cellImage {
	display: block;
	margin: 0 auto;
	float: right
}


 .contentBlock,
 .contentBlockWhite {
 	display: block;
    width: 90%;
 }

.image-box {
  width:250px;
  min-width: 250px;
  height: 250px;
  min-height: 250px;
  border: 2px solid #000;
  overflow: hidden;
  margin: 0 auto;
}

.imageLabelCopy {
	text-align: center;
	margin: 0 auto;
}


.text_half {
	display: inline-block;
	width: 100%;
}

footer .row {
	display: block;
	text-align: center;
}

.footerCol1, .footerCol2 {
	padding: 10px 20px;
}

.hide {
	display: none;
}
}

@media screen and (max-width: 600px) {
nav {
	display: none;
 }

/* .contentBlock,
 .contentBlockWhite {
 	display: block;
    width: 90%;
 }*/

.mobileNav {
	display:block;
	width: 100%;
}
  
.text_half,
.inputBoxWidthName,
.inputBoxWidth,
.row_content,
.row_content_bottom {
	display: block;
	width: 100%;
}

.thumbnail {
	margin-top: 15px;
}


.hamburger {
  display: inline-block;
}

.half, .contentImage, .pic_half, .text-half {
	width: 100%;
	height: auto;
}

.col-ham, 
.footerCol1, 
.footerCol2, 
.text_half {
	display: block;
}

.headshot {
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 20px;
}



}}