html body * {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  /*border: 1px dashed #333;*/
}

html, html body  {
  height: 100%;
}


header {
	display: flex;
	align-items: flex-end;
	background-color: #000;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 3;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #000;
}

.row_content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: auto;
}

.row_content_bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  padding-top: 25px;
}

.col{
  flex:1;
}

.col-ham {
  display: none;
  align-self: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: 30px;
}

.bullets {
  list-style-type: disc; 
  padding-left: 35px;
}

.row.row_nav {
  justify-content: flex-end;
  list-style: none;
  padding-top: 60px;
} 

.row.row_nav li a{
  padding:0;
  text-decoration: none;
  color: #FFF;
}

nav {
	display: flex;
 	width: 100%;
	margin: 0 auto;
}

body { 
	background: url(../images/bg1.jpg) no-repeat center center fixed;
	background-size: 100%;
    background-size: cover;
 }

 .contactBackground { 
	background: url(../images/contactBackground2.png) no-repeat center center fixed;
	background-size: 100%;
    background-size: cover;
 }

 .FAQBackground { 
	background: url(../images/FAQBackground.png) no-repeat center center fixed;
	background-size: 100%;
    background-size: cover;
 }

  .refBackground { 
	background: url(../images/RefBackground.png) no-repeat center center fixed;
	background-size: 100%;
    background-size: cover;
 }

#wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
  min-height: calc(100% - 85px);
}

.row_nav li {
  text-align: center;
  font-size: 14px;
  color: #FFF;
  /*font-family: Arial, sans-serif;*/
  padding: 15px;
}
.row_nav li a{
  padding-bottom: 15px;
  display: block!important;
}

.nav a{
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  font-family: Arial, sans-serif;
}

.col ul li {
	color: #ADFC1A;;
}

.col ul li a {
	padding: 20px;
}

#logo{
  width: 250px;
  height: 71px;
  margin: 20px;
}

h1 {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	background-color: #000;
	color: #FFF;
	padding: 20px 30px;
	/*font-family: 'Roboto', Arial, sans-serif;*/
	font-size: 23px;
	letter-spacing: 1px;
}

h2 {
	color: #000;
	border-bottom: 1px solid #000;
	padding: 10px 10px 10px 0px;
	/*font-family: 'Roboto', Arial, sans-serif;*/
	font-size: 20px;
	margin-bottom: 10px;
/*	margin-top: 10px;*/
	font-style: italic;
}

h3 {
	color: #000;
	padding: 5px 0px;
	/*font-family: 'Roboto', Arial, sans-serif;*/
	font-size: 16px;
}

ul {
	margin-bottom: 10px;
}

.contentBlock {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: rgba(255, 255, 255, 0.75); 
	box-shadow: inset 0px 25px 30px -35px black, 0px 0px 30px 0px black;
}

.contentBlockWhite {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
	background-color: rgb(255, 255, 255); 
	box-shadow: inset 0px 25px 30px -35px black, 0px 0px 30px 0px black;
}

/*waiting to see if I can remove totally ".copy"*/ 

/*.copy {
	flex: 2;
	padding: 30px;
}*/


.whole {
	padding: 30px;
	width: 100%;
}


/*Spacing items 50% in Content Block*/
.pic_half, {
	flex: 1;
}

.text_half {
	flex: 1;
	padding: 30px;
}
/*END Spacing items 50% in Content Block*/

.chart {
	width: 100%;
	max-width: 800px;
	height: auto;
}


/* form styles */
.formFlex {
	display: flex;
}

.inputBoxWidthName {
	width: 250px;
}

.inputBoxWidth {
	width: 510px;
}

.leftPaddingForm {
	margin-left: 10px;
}

button {
	background-color: #FF1D25;
	font-size: 16px;
	border-radius: 10px;
	padding: 8px 14px;
	box-shadow: 0px 0px 12px 0px #8c8c8c; 
	color: #FFF;
	border: 0px solid #FFF;
}

button:hover {
	background-color: #ce0b12;
}
/* end form styles */


/* Form page column 2 styles*/
.contactDiv p{
	font-size: 18px;
	line-height: 25px;
}

.contactDiv a{
	color: #000000;
}

.contactDiv a:hover {
	color: #ADFC1A;
}
/* end Form page column 2* /



/* copy throughout styles & size */
p, .p, .ref {
	font-size: 14px;
	line-height: 20px;
}

.smallcopy {
	font-size: 10px;
	line-height: 13px;
	margin: 20px;
}

.contactDisclaimer {
	font-size: 10px;
	line-height: 13px;
	padding: 15px 0;
}

.sub {
	font-size: 60%;
	bottom: -0.25em;
	vertical-align: baseline;
	line-height: 0;
	position: relative;
}

.sup {
	font-size: 60%;
	top: -0.5em;
	vertical-align: baseline;
	line-height: 0;
	position: relative;
}
/* end copy throughout styles & size */

.headshot {
	width: 250px;
	width: 250px;
	float: left;
	border: 1px solid #000;
	margin: 0 20px 10px 0;
}

/*mobile navigation*/
.mobileNav {
  box-shadow: inset 0px 25px 30px -35px black, 0px 0px 30px 0px black;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  transform: translate(0%, -100%);
  -webkit-transition: transform 0.5s ease-in-out;
     -moz-transition: transform 0.5s ease-in-out;
      -ms-transition: transform 0.5s ease-in-out;
       -o-transition: transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
}

.mobileNav.active {
  transform: translate(0%, calc(0% + 113px) );
}

.mobileNav li {
	background-color: #FFF;
	border-bottom: solid 1px #eeeeee;
	font-family: Arial, sans-serif;
	padding:15px;
	text-align: center;
	width: 100%;
}

.mobileNav li:hover {
	background-color: #ADFC1A;
}

.mobileNav a{
	color: #333;
	text-decoration: none;
}
/*mobile navigation ends*/

/*hamburger menu*/
.hamburger {
  display: none;
}

.line {
  display: block;
  width: 35px;
  height: 4px;
  background: #FFF;
  margin-bottom: 7px;
  border-radius: 5px;
  pointer-events: none;
}
/*hamburger menu ends*/


/*FAQ table styles*/
table {
	/*max-width: 1100px;*/
	width: 100%;
}

.tableRowGrey {
	background-color: rgba(238, 238, 238, .55);
}
.tableRowWhite {
	background-color: rgba(255, 255, 255, .55);
}
.tableRow1 {
	background-color: rgba(156, 156, 156, .55);
}
.tableRow2 {
	background-color: rgba(197, 197, 197, .55);
}

.tableRow1 td,
.tableRow2 td,
.tableRowWhite td,
.tableRowGrey td {
	text-align: center;
	padding: 10px;
}

table tr td.first {
	width: 50%;
	text-align: left;
	padding-left:30px;
	vertical-align: center;
}

table tr td.ref {
	text-align: left;
	padding:10px 30px;
}

table tr td.other {
	width: 16.6%;
}
/*FAQ table styles*/


/* form validation styles */
input:invalid {
  border: 2px solid red;
}

/*input:valid {
  border: 2px solid black;
}*/
/* end form validation styles */



/*FOOTER*/
footer {
	display: flex;
	align-items: flex-end;
	background-color: #000;
	width: 100%;
	margin: 0 auto;
    padding: 10px 5px;
}

.footerCol1 {
  flex:1;
  padding: 10px 10px 10px 50px;
}

.footerCol2 {
  flex:4;
  padding: 10px;
}

footer p {
	color: #7c6a65;
	font-size: 10px;
	line-height: 15px;
}

footer p a {
	color: #cbada5;
	text-decoration: none;
}

footer p a:hover {
	color: #adfc1a;
}
/*end footer*/



/*mobile*/
@media screen and (max-width: 600px) {
nav {
	display: none;
 }

 .contentBlock,
 .contentBlockWhite {
 	display: block;
    width: 90%;
 }

.mobileNav {
	display:block;
}

.hamburger {
  display: inline-block;}

.half, .contentImage, .pic_half, .text-half {
	width: 100%;
	height: auto;
}

.col-ham, 
.footerCol1, 
.footerCol2 {
	display: block;
}

.headshot {
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 20px;
}

.inputBoxWidthName,
.inputBoxWidth {
	width: 100%;
}















